
.banner {
    background-image: url('/public/banner.webp'); /* Adjust the path as necessary */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust based on your preference */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(12, 5, 5); /* Adjust text color based on your banner's design */
    position: relative;
    body {
        font-family: 'Roboto', sans-serif; 
        font-size: 16px; 
        line-height: 1.6;
        color: #333; 
        background-color: #000000; 
        padding: 20px; /* Adds some padding around your text content. */
      }
      
  }
  
  .content-container {
    padding-top: 20px; /* Spacing from the banner to the content */
  }
  

  .solid-fill-box {
    height: 150px; 
    background-color: #806abe; 
    margin-top: -20px; 
  }
  
  .banner-text {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px; 
    display: inline-block; 
    text-align: center; 
  }